.description-table {
  max-height: 200px;
  max-width: 100%;
  overflow-y: scroll;
}

.thead-tr {
  position: sticky;
  top: 0;
  background-color: white;
  white-space: nowrap;
}

.btn-info {
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}

.btn-info:hover {
  background-color: #c3c3c3 !important;
  border-color: #c3c3c3 !important;
}