.description-cell {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thead-tr {
  position: sticky;
  top: 0;
  background-color: white;
  white-space: nowrap;
}

.btn-info {
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}

.btn-info:hover {
  background-color: #c3c3c3 !important;
  border-color: #c3c3c3 !important;
}
